@mixin button($width, $height, $color, $background-color, $radius: 0, $border-width: 1px, $border-color:black, $border-style: solid){
    width: $width;
    height: $height;
    color: $color;
    background-color: $background-color;
    border-radius: $radius;
    border: $border-width $border-style $border-color;
}
@mixin gradient-box($border, $first-color, $second-color, $angle){
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: solid $border transparent;
    background-clip: padding-box;
    border-radius: 20px;
    &::before{
        content: '';
        position: absolute;
        top:0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient($angle, $first-color, $second-color);
    }
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
body{
    background-color: black;
    color: white;
}
.btn{
    &_black{
        transition: all 0.3s ease;
        @include button(100px,25px,red,black,20px);
        &:hover{
            background-color: red;
            color: black;
            border-color: red;
        }
        &:active{
            background-color: rgb(187, 0, 0);
        }
    }

    &_red{
        transition: all 0.3s ease;
        @include button(100px,25px,black,red,20px,1px,red, solid);
        &:hover{
            background-color: black;
            color: red;
            border-color: black;
        }
        &:active{
            background-color: rgb(27, 27, 27);
            border-color: rgb(27, 27, 27);
        }
    }
}


.clicker{
    > h1{
        transition: all 0.3s ease;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}
.changing{
    animation: count 0.3s ease forwards;
}
@keyframes count {
    0%{
        opacity: 0;
        transform: translate(100%, 0);
    }
    100%{
        opacity: 1;
        left: auto;
    }
}

