@mixin button($width, $height, $color, $background-color, $radius: 0, $border-width: 1px, $border-color:black, $border-style: solid){
    width: $width;
    height: $height;
    color: $color;
    background-color: $background-color;
    border-radius: $radius;
    border: $border-width $border-style $border-color;
}
@mixin gradient-box($border, $first-color, $second-color, $angle){
    display: flex;
    position: relative;
    box-sizing: border-box;
    border: solid $border transparent;
    background-clip: padding-box;
    border-radius: 20px;
    &::before{
        content: '';
        position: absolute;
        top:0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient($angle, $first-color, $second-color);
    }
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
body{
    background-color: black;
    color: white;
}
.btn{
    &_black{
        transition: all 0.3s ease;
        @include button(100px,25px,red,black,20px);
        &:hover{
            background-color: red;
            color: black;
            border-color: red;
        }
        &:active{
            background-color: rgb(187, 0, 0);
        }
    }

    &_red{
        transition: all 0.3s ease;
        @include button(100px,25px,black,red,20px,1px,red, solid);
        &:hover{
            background-color: black;
            color: red;
            border-color: black;
        }
        &:active{
            background-color: rgb(27, 27, 27);
            border-color: rgb(27, 27, 27);
        }
    }
}

.tab{ 
    @include gradient-box(5px, rgb(255, 0, 0), rgb(255, 136, 0), 45deg);
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    background-color: black;
    flex-direction: column;
    &_list{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: rgb(204, 0, 0);
        height: fit-content;
        > .underline{
            position: absolute;
            bottom: 0;
            border-radius: 5px;
            height: 0px;
            border: 1px solid rgb(204, 0, 0);
            transition: all 0.3s ease-in-out;
        }
    }
    &_content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > *{
            margin: 5px;
            position: absolute;
            top: -100%;
            background: transparent;
            transition: all 0.3s ease;
            transform: translate(0, 100%);
            animation: appear 0.5s ease forwards;
        }
        .disable{
            animation: disable 0.5s ease forwards;
        }
    }
    > hr{
        border-radius: 5px;
        border-color: rgb(204, 0, 0);
        width: 90%;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translate(0, -100%);
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes disable {
    0%{
        opacity: 1;
        transform: translate(0,0);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translate(0, -100%);
    }
}
.clicker{
    > h1{
        transition: all 0.3s ease;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}
.changing{
    animation: count 0.3s ease forwards;
}
@keyframes count {
    0%{
        opacity: 0;
        transform: translate(100%, 0);
    }
    100%{
        opacity: 1;
        left: auto;
    }
}

